<h1>Rock, Paper, Scissors</h1>

<form action="/" method="POST">
	<select name="choice">
		<option value="rock">Rock</option>
		<option value="paper">Paper</option>
		<option value="scissors">Scissors</option>
	<input type="submit"> <br>
</form> 
<h3> Score: <%= @score %> </h3>